.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  @below sm {
    padding: 1rem;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 600;

  &::before {
    content: '';
    display: inline-block;
    width: 36px;
    height: 42px;
    // background-image: svg-load('logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header__menu {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.header__menu-link {
  color: #667279;
  text-decoration: none;
}